/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/afiliados/documentacion/iBEive1F8JQTjnMMDRQDbhb68LNXe099Ub8IsaLJ.jpeg
public/afiliados/documentacion/UJpjqkt77ZeZNUok5STPy1ShBbJ9mP3F4txM6Ym0.txt
