j/node_modules
/public/hot
/public/img
/public/storage
/storage/*.key
/storage/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/afiliados/documentacion/*
node_modules
