.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 150px;
    width: 150px;
    border-top-left-radius: 320% 320%;
    border-top-right-radius: 320% 320%;
    border-bottom-right-radius: 320% 320%;
    border-bottom-left-radius: 320% 320%;
}
th, td {
    padding: 5px;
  }

.margin-0 {
    margin: 10px;
}

.text-right {
   text-align: right;
}

.text-center {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.multi-line { vertical-align: top; height: 40px; overflow: hidden; }